.img_box {
  width: 100%;
  height: 260px;
  margin: 0 0 20px 0;
  padding: 0 12px 12px 12px; 
  border-radius: 6px;
  background: #ffffff;

  &>span {
    line-height: 42px;
  }

  ._img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
  }
}