@import '../../../../../common/assets/css/demo.less';

.icon_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .icon_item {
    box-sizing: border-box;
    min-height: 1px;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    float: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    .icon {
      margin: 16px 0 16px;
      color: #323233;
    }

    .icon_name {
      display: block;
      height: 36px;
      margin: -4px 0 4px;
      padding: 0 5px;
      color: #646566;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .icon_item_box_badge {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}