@import "../../../../../common/assets/css/var.less";

.badge_wrapper {
  position: relative;
  display: inline-block;

  &.badge_i {
    font: normal normal normal 14px/1 'vant-icon';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .badge_basis_div {
    min-width: @badge-size;
    padding: @badge-padding;
  }

  .badge_basis_i {
    min-width: 20px;
    padding: 2px 3px;
  }

  .badge_basis {
    display: inline-block;
    box-sizing: border-box;
    color: @badge-color;
    font-weight: @badge-font-weight;
    font-size: @badge-font-size;
    font-family: @badge-font-family;
    line-height: 1.2;
    text-align: center;
    background-color: @badge-background-color;
    border: @badge-border-width solid@white;
    border-radius: @border-radius-max;
  }

  .badge_fixed {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100%;
  }

  .badge_dot {
    width: @badge-dot-size;
    min-width: 0;
    height: @badge-dot-size;
    background-color: @badge-dot-color;
    border-radius: 100%;
    padding: @badge-dot-padding;
  }
}