@import "../../../../../common/assets/css/var.less";
@import "../../../../../common/assets/css/fade.less";

.tag_wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: @tag-padding;
  color: @tag-text-color;
  font-size: @tag-font-size;
  line-height: @tag-line-height;
  border-radius: @tag-border-radius;

  &.tag_medium {
    padding: @tag-medium-padding !important;
  }

  &.tag_large {
    padding: @tag-large-padding !important;
    font-size: @tag-large-font-size !important;
    border-radius: @tag-large-border-radius !important;
  }

  &.tag_plain {
    background-color: @tag-plain-background-color  !important;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid currentColor;
      border-radius: inherit;
      content: '';
      pointer-events: none;
    }
  }

  &.tag_default {
    background-color: @tag-default-color;

    &.tag_plain {
      color: @tag-default-color;
    }
  }

  &.tag_primary {
    background-color: @tag-primary-color;

    &.tag_plain {
      color: @tag-primary-color;
    }
  }

  &.tag_success {
    background-color: @tag-success-color;

    &.tag_plain {
      color: @tag-success-color;
    }
  }

  &.tag_warning {
    background-color: @tag-warning-color;

    &.tag_plain {
      color: @tag-warning-color;
    }
  }

  &.tag_error {
    background-color: @tag-error-color;

    &.tag_plain {
      color: @tag-error-color;
    }
  }

  &.tag_round {
    border-radius: @tag-round-border-radius;
  }

  &.tag_mark {
    border-radius: 0 @tag-round-border-radius @tag-round-border-radius 0;

    &::after {
      display: block;
      width: 2px;
      content: '';
    }
  }

  .tag_close_icon {
    margin-left: 2px;
    cursor: pointer;
  }
}