@import "../../../../../common/assets/css/var.less";

.toast_wrapper_info {
  width: fit-content !important;
  min-width: @toast-text-min-width  !important;
  min-height: 0 !important;
  padding: @toast-text-padding  !important;
}

.toast_wrapper_info,
.toast_wrapper_prompt,
.toast_wrapper_success,
.toast_wrapper_fail,
.toast_wrapper_loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: @toast-default-width;
  max-width: @toast-max-width;
  min-height: @toast-default-min-height;
  padding: @toast-default-padding;
  color: @toast-text-color;
  font-size: @toast-font-size;
  line-height: @toast-line-height;
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
  background-color: @toast-background-color;
  border-radius: @toast-border-radius;

  &.toast_wrapper_top {
    top: @toast-position-top-distance;
  }

  &.toast_wrapper_bottom {
    top: auto;
    bottom: @toast-position-bottom-distance;
  }

  .toast_loading {
    padding: @padding-base;
    color: @toast-loading-icon-color;
  }

  .toast_message {
    width: fit-content;
    min-width: @toast-text-min-width;
    min-height: 0;
    padding: @toast-text-padding;
  }
}

.overlay_toast {
  background-color: rgba(255, 255, 255, 0) !important;
}