@import '~antd/lib/style/themes/default.less';
.drag_drop {
    margin-top: 10px;
    box-shadow: @box-shadow-base;
    border-radius: 1rem;
    overflow: hidden;

    .state_bar {
        width: 100%;
        height: 100%;
        background-color: #ffffff;

        img {
            padding: 0.8rem;
            width: 100%;
            display: block;
            position: relative;
            border-bottom: 1px dashed @border-color-base;
        }
    }

    .layout {
        display: block;
        overflow: auto;
    }
}