@import "../../../../../common/assets/css/var.less";

@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}

.loading_wrapper {
  position: relative;
  color: @loading-spinner-color;
  font-size: 0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  flex-direction: row;

  .loading_basic {
    position: relative;
    display: inline-block;
    width: @loading-spinner-size;
    max-width: 100%;
    height: @loading-spinner-size;
    max-height: 100%;
    vertical-align: middle;
    animation: loading-rotate @loading-spinner-animation-duration linear infinite;

    &.loading_basic_circular {
      animation-duration: 2s;
    }

    &.loading_basic_spinner {
      animation-timing-function: steps(12);

      i {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
          display: block;
          width: 2px;
          height: 25%;
          margin: 0 auto;
          background-color: currentColor;
          border-radius: 40%;
          content: ' ';
        }
      }
    }

    .loading_circular {
      display: block;
      width: 100%;
      height: 100%;
  
      circle {
        animation: loading-circular 1.5s ease-in-out infinite;
        stroke: currentColor;
        stroke-width: 3;
        stroke-linecap: round;
      }
    }
  }

  .loading_content {
    display: inline-block;
    margin-left: @padding-xs;
    color: @loading-text-color;
    font-size: @loading-text-font-size;
    vertical-align: middle;
  }

  &.loading_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

    .loading_content {
      margin: @padding-xs 0 0;
    }
  }
}

.generate-spinner(@n, @i: 1) when (@i =< @n) {
  .loading_wrapper .loading_basic i:nth-of-type(@{i}) {
    transform: rotate(@i * 30deg);
    opacity: 1 - (0.75 / 12) * (@i - 1);
  }
  .generate-spinner(@n, (@i + 1));
}
.generate-spinner(12);