@import '../../../../../common/assets/css/demo.less';

.demo_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6px 20px 0;

  &>span {
    margin-top: 5px;
    color: #646566;
    font-size: 14px;
    text-align: center;
  }
}