@import "../../../../../common/assets/css/var.less";

.cell_group_wrapper {
  width: 100%;
  background-color: @cell-group-background-color;
}

.cell_group_title {
  padding: @cell-group-title-padding;
  color: @cell-group-title-color;
  font-size: @cell-group-title-font-size;
  line-height: @cell-group-title-line-height;
}