@import "../../../../../common/assets/css/var.less";

.button_warpper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: @button-default-height;
  margin: 0;
  padding: 0;
  font-size: @button-default-font-size;
  line-height: @button-default-line-height;
  text-align: center;
  border-radius: @button-border-radius;
  cursor: pointer;
  transition: opacity @animation-duration-fast;
  -webkit-appearance: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: @black;
    border: inherit;
    border-color: @black;
    border-radius: inherit;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }

  &:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
  }

  &:active::before {
    opacity: 0.1;
  }

  .button_content_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &::before {
      content: ' ';
    }

    .button_icon {
      font-size: 1.2em;
      line-height: inherit;
    }

    .button_content_icon_left {
      margin-left: @padding-base;
    }

    .button_content_icon_right {
      margin-right: @padding-base;
    }

    .button_loading_icon_left {
      margin-left: @padding-xs;
    }

    .button_loading_icon_right {
      margin-right: @padding-xs;
    }
  }

  &.button_large {
    width: 100%;
    height: @button-large-height;
  }

  &.button_normal {
    padding: 0 15px;
    font-size: @button-normal-font-size;
  }

  &.button_small {
    height: @button-small-height;
    padding: 0 @padding-xs;
    font-size: @button-small-font-size;
  }

  /* &.button_loading {
    color: inherit;
    font-size: inherit;
  } */

  &.button_mini {
    height: @button-mini-height;
    padding: 0 @padding-base;
    font-size: @button-mini-font-size;
  }

  &.button_default {
    color: @button-default-color;
    background-color: @button-default-background-color;
    border: @button-border-width solid @button-default-border-color;
  }

  &.button_primary {
    color: @button-primary-color;
    background-color: @button-primary-background-color;
    border: @button-border-width solid @button-primary-border-color;
  }

  &.button_success {
    color: @button-success-color;
    background-color: @button-success-background-color;
    border: @button-border-width solid @button-success-border-color;
  }

  &.button_error {
    color: @button-error-color;
    background-color: @button-error-background-color;
    border: @button-border-width solid @button-error-border-color;
  }

  &.button_warning {
    color: @button-warning-color;
    background-color: @button-warning-background-color;
    border: @button-border-width solid @button-warning-border-color;
  }

  &.button_laconic {
    background-color: @button-plain-background-color;

    &.button_primary {
      color: @button-primary-background-color;
    }

    &.button_success {
      color: @button-success-background-color;
    }

    &.button_error {
      color: @button-error-background-color;
    }

    &.button_warning {
      color: @button-warning-background-color;
    }
  }

  &.button_block {
    display: block;
    width: 100%;
  }

  &.button_disabled {
    cursor: not-allowed;
    opacity: @button-disabled-opacity;

    &::before {
      display: none;
    }
  }

  &.button_fine_Border {
    border-width: 0;

    &::after {
      content: ' ';
      border-width: 1px;
      border-color: inherit;
      border-radius: @button-border-radius * 2;
      top: -50%;
      right: -50%;
      bottom: -50%;
      left: -50%;
      border: 0.5px solid;
      transform: scale(0.5);
      position: absolute;
      box-sizing: border-box;
      pointer-events: none;
    }

    /* &.van-button--square::after {
      border-radius: 0;
    } */
  }

  &.button_round {
    border-radius: @button-round-border-radius;
  }
}