@import "../../../../../common/assets/css/var.less";

.sheet_wapper {
  position: relative;

  .action_sheet {
    display: flex;
    flex-direction: column;
    max-height: @action-sheet-max-height;
    overflow: hidden;
    color: @action-sheet-item-text-color;

    .sheet_header {
      flex-shrink: 0;
      font-weight: @font-weight-bold;
      font-size: @action-sheet-header-font-size;
      line-height: @action-sheet-header-height;
      text-align: center;
    }

    .sheet_description {
      position: relative;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      padding: 20px @padding-md;
      color: @action-sheet-description-color;
      font-size: @action-sheet-description-font-size;
      line-height: @action-sheet-description-line-height;
      text-align: center;

      &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 16px;
        bottom: 0;
        left: 16px;
        border-bottom: 1px solid #ebedf0;
        transform: scaleY(0.5);
      }
    }

    .sheet_content {
      flex: 1 auto;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      .sheet_content_item {
        display: block;
        width: 100%;
        padding: 14px @padding-md;
        font-size: @action-sheet-item-font-size;
        background-color: @action-sheet-item-background;
        border: none;
        cursor: pointer;

        .sheet_content_item_span {
          line-height: 22px;
        }

        .sheet_content_item_subname {
          margin-top: @padding-xs;
          color: @action-sheet-subname-color;
          font-size:  @action-sheet-subname-font-size;
          line-height: @action-sheet-subname-line-height;
        }

        &:active {
          background-color: @active-color;
        }
      }

      .sheet_content_item_disabled,.sheet_content_item_loading {
        line-height: @action-sheet-item-line-height;
        color: @action-sheet-item-disabled-text-color;

        &:active {
          background-color: @action-sheet-item-background;
        }
      }

      .sheet_content_item_disabled {
        cursor: not-allowed;
      }

      .sheet_content_item_loading {
        display: flex;
        justify-content: center;
        cursor: default;
      }
    }

    .cancel_top {
      display: block;
      height: 8px;
      background-color: #f7f8fa;
    }

    .cancel_button {
      display: block;
      width: 100%;
      padding: 14px @padding-md;
      font-size: @action-sheet-item-font-size;
      background-color:  @action-sheet-item-background;
      border: none;
      cursor: pointer;

      &:active {
        background-color: @active-color;
      }
    }
  }
}