@import "../../../../../common/assets/css/demo.less";

.content {
  position: fixed;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 12px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}