.color_box {
  width: 100%;
  height: auto;
  margin: 0 0 32px 0;

  .color_title {
    display: flex;
    flex-direction: column;

    &>label {
      font-size: 18px;
      font-weight: 500;
    }

    &>span {
      margin: 5px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .color_item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0 0 16px 0;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    transition: all .2s ease-in-out;

    &>label {
      font-size: 16px;
    }

    &>span {
      opacity: .7;
    }
  }
}