@import "../../../../../common/assets/css/var.less";
@import "../../../../../common/assets/css/popup.less";

.popuo_wrapper {
  position: fixed;
  background: @popup-background-color;
  max-height: 100%;
  overflow-y: auto;
  transform: @popup-transition;
  -webkit-overflow-scrolling: touch;

  .close_icon {
    position: absolute;
    z-index: @popup-close-icon-z-index;
    color: @popup-close-icon-color;
    font-size: @popup-close-icon-size;
    cursor: pointer;

    &:active {
      color: @popup-close-icon-active-color;
    }

    &.close_icon_top-right {
      top: @popup-close-icon-margin;
      right: @popup-close-icon-margin;
    }

    &.close_icon_top-left {
      top: @popup-close-icon-margin;
      left: @popup-close-icon-margin;
    }
    
    &.close_icon_bottom-right {
      bottom: @popup-close-icon-margin;
      right: @popup-close-icon-margin;
    }

    &.close_icon_bottom-left {
      bottom: @popup-close-icon-margin;
      left: @popup-close-icon-margin;
    }
  }
}

.popuo_center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.popuo_top {
  top: 0;
  left: 0;
  width: 100%;

  &.popup_top_round {
    border-radius: 0 0 @popup-round-border-radius @popup-round-border-radius;
  }
}

.popuo_bottom {
  bottom: 0;
  left: 0;
  width: 100%;

  &.popup_bottom_round {
    border-radius: @popup-round-border-radius @popup-round-border-radius 0 0;
  }
}

.popuo_left {
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);

  &.popup_left_round {
    border-radius: 0 @popup-round-border-radius @popup-round-border-radius 0;
  }
}

.popuo_right {
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);

  &.popup_right_round {
    border-radius: @popup-round-border-radius 0 0 @popup-round-border-radius;
  }
}