@import "../../../../../common/assets/css/var.less";

.cell_wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: @cell-vertical-padding @cell-horizontal-padding;
  overflow: hidden;
  color: @cell-text-color;
  font-size: @cell-font-size;
  line-height: @cell-line-height;
  background-color: @cell-background-color;

  &::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: @cell-horizontal-padding;
    bottom: 0;
    left: @cell-horizontal-padding;
    border-bottom: @border-width-base solid @cell-border-color;
    transform: scaleY(0.5);

    &::after {
      border-bottom-width: @border-width-base;
    }
  }

  &:last-child::after,
  &.cell_no_border::after {
    display: none;
  }

  .cell_title,.cell_value {
    flex: 1;
  }

  .cell_label {
    margin-top: @cell-label-margin-top;
    color: @cell-label-color;
    font-size: @cell-label-font-size;
    line-height: @cell-label-line-height;
  }

  .cell_value {
    position: relative;
    overflow: hidden;
    color: @cell-value-color;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;

    &.cell_value_alone {
      color: @text-color;
      text-align: left;
    }
  }

  .cell_left_icon,
  .cell_right_icon {
    height: @cell-line-height !important;
    font-size: @cell-icon-size !important;
    line-height: @cell-line-height !important;
  }

  .cell_left_icon {
    margin-right: @padding-base !important;
  }

  .cell_right_icon {
    margin-left: @padding-base !important;
    color: @cell-right-icon-color !important;
  }

  &.cell_large {
    padding-top: @cell-large-vertical-padding;
    padding-bottom: @cell-large-vertical-padding;

    .cell_title {
      font-size: @cell-large-title-font-size;
    }

    .cell_label {
      font-size: @cell-large-label-font-size;
    }
  }

  &.cell_center {
    align-items: center;
  }

  &.cell_clickable {
    cursor: pointer;

    &:active {
      background-color: @cell-active-color;
    }
  }

  &.cell_required {
    overflow: visible;

    &::before {
      position: absolute;
      left: @padding-xs;
      color: @cell-required-color;
      font-size: @cell-font-size;
      content: '*';
    }
  }
}