@import '../../../../../common/assets/css/var.less';

.image_swapper {
  position: relative;
  display: inline-block;

  &.image_round {
    overflow: hidden;
    border-radius: 50%;

    img {
      border-radius: inherit;
    }
  }

  .image_img,
  .image_error,
  .image_loading {
    display: block;
    width: 100%;
    height: 100%;
  }

  .image_error,
  .image_loading {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: @image-placeholder-text-color;
    font-size: @image-placeholder-font-size;
    background-color: @image-placeholder-background-color;

    .image_loading_icon {
      color: @image-loading-icon-color;
      font-size: @image-loading-icon-size;
    }

    .image_error_icon {
      color: @image-error-icon-color;
      font-size: @image-error-icon-size;
    }
  }
}