.demo_box {
  width: 100%;
  height: auto;

  &>h1 {
    margin: 42px 0 0 0;
    color: rgba(69, 90, 100, 0.92);
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
  }

  &>h2 {
    padding: 16px 0;
    color: rgba(69, 90, 100, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  .demo_item_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}