/*入场动画开始*/ /*离场动画结束*/ /*页面第一次加载时的开始状态*/
.fade-enter, .fade-exit-done, .fade-appear {
  opacity: 0;
}

/*入场动画过程*/ /*页面第一次加载时的动画过程*/
.fade-enter-active, .fade-appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

/*入场动画结束*/ /*离场动画开始*/
.fade-enter-done, .fade-exit {
  opacity: 1;
}

/*离场动画过程*/
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}