/**
* 顶部弹出动画
*/

/*页面第一次加载时的开始状态*/
.popup_top-appear {}

/*页面第一次加载时的动画过程*/
.popup_top-appear-active {
  transition: all 0.3s ease-out;
}

/*入场动画开始*/
.popup_top-enter {
  transform: translate3d(0, -100%, 0);
}

/*入场动画过程*/
.popup_top-enter-active {
  transition: all 0.3s ease-out;
  transform: translate3d(0, 0, 0);
}

/*入场动画结束*/
.popup_top-enter-done {}

/*离场动画开始*/
.popup_top-exit {}

/*离场动画过程*/
.popup_top-exit-active {
  transition: all 0.3s ease-in;
  transform: translate3d(0, -100%, 0);
}

/*离场动画结束*/
.popup_top-exit-done {}


/**
* 底部弹出动画
*/

/*页面第一次加载时的开始状态*/
.popup_bottom-appear {}

/*页面第一次加载时的动画过程*/
.popup_bottom-appear-active {
  transition: all 0.3s ease-out;
}

/*入场动画开始*/
.popup_bottom-enter {
  transform: translate3d(0, 100%, 0);
}

/*入场动画过程*/
.popup_bottom-enter-active {
  transition: all 0.3s ease-out;
  transform: translate3d(0, 0, 0);
}

/*入场动画结束*/
.popup_bottom-enter-done {}

/*离场动画开始*/
.popup_bottom-exit {}

/*离场动画过程*/
.popup_bottom-exit-active {
  transition: all 0.3s ease-in;
  transform: translate3d(0, 100%, 0);
}

/*离场动画结束*/
.popup_bottom-exit-done {}


/**
* 左侧弹出动画
*/

/*页面第一次加载时的开始状态*/
.popup_left-appear {
}

/*页面第一次加载时的动画过程*/
.popup_left-appear-active {
}

/*入场动画开始*/
.popup_left-enter {
  transform: translate3d(-100%, -50%, 0) !important;
}

/*入场动画过程*/
.popup_left-enter-active {
  transition: all 0.3s ease-out !important;
  transform: translate3d(0, -50%, 0) !important;
}

/*入场动画结束*/
.popup_left-enter-done {
}

/*离场动画开始*/
.popup_left-exit {}

/*离场动画过程*/
.popup_left-exit-active {
  transition: all 0.3s ease-in !important;
  transform: translate3d(-100%, -50%, 0) !important;
}

/*离场动画结束*/
.popup_left-exit-done {}


/**
* 右侧弹出动画
*/

/*页面第一次加载时的开始状态*/
.popup_right-appear {
}

/*页面第一次加载时的动画过程*/
.popup_right-appear-active {
}

/*入场动画开始*/
.popup_right-enter {
  transform: translate3d(100%, -50%, 0) !important;
}

/*入场动画过程*/
.popup_right-enter-active {
  transition: all 0.3s ease-out !important;
  transform: translate3d(0, -50%, 0) !important;
}

/*入场动画结束*/
.popup_right-enter-done {
}

/*离场动画开始*/
.popup_right-exit {}

/*离场动画过程*/
.popup_right-exit-active {
  transition: all 0.3s ease-in !important;
  transform: translate3d(100%, -50%, 0) !important;
}

/*离场动画结束*/
.popup_right-exit-done {}